.container-contact {
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: -4vh;

}

.contact p,
a,
i {
    color: rgb(255, 255, 255) !important;
    text-align: justify;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
}


.contact:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4px 8px 0 rgba(3, 26, 19, 0.9), 0 6px 20px 0 rgba(25, 25, 26, 0.3);
}

h4 {
    font-size: 18px !important;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.contact-intro {
    width: 100%;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: .7em;
    line-height: 1.1;
    background: linear-gradient(-45deg, rgb(0, 65, 11), rgb(0, 45, 247));
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 5s ease-in-out infinite;
}

@keyframes move {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.contact {
    cursor: pointer;
    transition: 0.2s;
    border-radius: 15px;
    background: rgba(0, 31, 71, 0.8);
    backdrop-filter: saturate(180%) blur(2px);
}

.contact-bottom {
    width: 61%;
    line-height: 1.1;
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: -48vh;
    float: right;
    margin-right: 1vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contact-intro {
        font-size: 70px;
        margin-top: 10vh;
        margin-bottom: 35px;
    }
}