*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}:root{
	--bg-color: #ffffff;
	--text-color: rgb(22, 0, 0);
	--main-color: #29fd53;
    --nav-color: rgb(2, 2, 72);
}html{
    font-family: montserrat;
    scroll-behavior: smooth;
    text-align: justify;
}body{
    width: 100%;
    height: 100vh;
}.holder{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}.holder2{
    display: grid;  
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
}.holder2 div{
    width: 50%;
}.holder2 p{
    background-color: ghostwhite;
    width: 60%;
}.holder3{
    background-color: rgb(31, 85, 138);
    width: 100%;
    height: 80vh;
}.image{
    width: 100%;
    height: 100vh;
}.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    height: 100vh;
}.logo.logo-img{
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    align-self: center;
}header{
	position: fixed;
	width: 100%;
	height: 10vh;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(255, 255, 255);
	padding: 28px 12%;
	border-bottom: black 1px;
	transition: all .50s ease;
}.navbar{
	display: flex;
}
.navbar a{
	color: rgb(0, 0, 145);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;  
	margin: 0px 30px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a.active{
	color: var(--main-color);
}
.main{
	display: flex;
	align-items: center;
}
.main a{
	margin-right: 25px;
	margin-left: 10px;
    color: rgb(0, 0, 145);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}.main a:hover{
    color: var(--main-color);
}.CPTOO{
    color: transparent;
    font-size: 14rem;
    font-weight: 900;
    margin-top: 2%;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
}
.user{
	display: flex;
	align-items: center;
}
.user i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 7px;
}
.main a:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}
.icon{
	width: 10%;
	height: auto;
}
.breadcrumb{
    margin-top: 10vh;
    position: fixed;
    z-index: 102;
    width: 100%;
    height: 5vh;
    background-color: rgb(2, 2, 72);
    color: white;
    text-decoration: none;
}.breadcrumb a{
    margin-top: 20%;
    padding-left: 1%;
    color: white;
}.a-holder{
    margin-top: .5%;
}
.breadcrumb a span{
    font-size: 1rem;
    font-weight: 900;
}
@media(max-width: 900px){
    .logo-img{
        width: 35%;
        margin-left: -21%;
    }
    .CPTOO{
        font-size: 2rem;
    }
    footer h3{
        font-size: .9rem;
    }
    footer{
        display:flex;
        flex-direction: column-reverse;
    }
    .footer-content1{
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .footer-content2{
        display: none;
    }
    .footer-content3{
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .chat-bar-collapsible{
        height: 10vh;
        width: 10%;
    }
}

@media (max-width: 1280px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 50%;
		height: 45vh;
		background: rgb(235, 235, 235);
        border: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}.dropdown-content{
        margin-right: 20%;
    }
	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateY(5px);
	}
	.navbar a.active{
		color: var(--text-color);
	}
	.navbar.open{
		right: 2%;
	}

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  li:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  li:hover .dropbtn {background-color: #3e8e41;}

  .main-content{
	background-image: url('bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-color: #ddd;
  }

  .chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: rgb(82, 151, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 450px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 450px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:700px) {
    .full-chat-block {
        width: 100%;
        border-radius: 20px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width:60%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
    .full-chat-block {
        width: 30%;
        background: white;
        text-align: center;
        overflow: auto;
        scrollbar-width: none;
        height: max-content;
        transition: max-height 0.2s ease-out;
    }
    
    .outer-container {
        min-height: 450px;
        bottom: 0%;
        position: relative;
    }
    
    .chat-container {
        max-height: 450px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        scroll-behavior: smooth;
        hyphens: auto;
    }
    
    .chat-container::-webkit-scrollbar {
        display: none;
    }
    
    .chat-bar-input-block {
        display: flex;
        float: left;
        box-sizing: border-box;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        background-color: rgb(235, 235, 235);
        border-radius: 10px 10px 0px 0px;
        padding: 10px 0px 10px 10px;
    }
    
    .chat-bar-icons {
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 25%;
        float: right;
        font-size: 20px;
    }
    
    #chat-icon:hover {
        opacity: .7;
    }
    
    /* Chat bubbles */
    
    #userInput {
        width: 75%;
    }
    
    .input-box {
        float: left;
        border: none;
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        color: #000;
        background-color: white;
        outline: none
    }
    
    .userText {
        color: white;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: normal;
        text-align: right;
        clear: both;
    }
    
    .userText span {
        line-height: 1.5em;
        display: inline-block;
        background: #5ca6fa;
        padding: 10px;
        border-radius: 8px;
        border-bottom-right-radius: 2px;
        max-width: 80%;
        margin-right: 10px;
        animation: floatup .5s forwards
    }
    
    .botText {
        color: #000;
        font-family: Helvetica;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
    }
    
    .botText span {
        line-height: 1.5em;
        display: inline-block;
        background: #e0e0e0;
        padding: 10px;
        border-radius: 8px;
        border-bottom-left-radius: 2px;
        max-width: 80%;
        margin-left: 10px;
        animation: floatup .5s forwards
    }
}
.form-holder{
    box-shadow: 20px rgba(0,0,0,0.9);
    margin: 0 auto;
    width:60%;
    height: 80vh;
    background-color: #29fd53;
}.form{
    text-align: center;
    float: right;
    width: 50%;
    height: 80vh;
    background-color: rgba(49, 5, 161, 0.735);
}.img-holder{
    float: left;
    width: 50%;
    height: 80vh;
    background-color: red;
}#cpto-logo{
    margin: 0 auto;
    float: left;
    margin: 2% 12%;
    border-radius: 3%;
    width: 70%;
    height:auto;
}#login-h1{
    padding-top: 5%;
    color: white;
}#question{
    color: white;
    padding-top: 20%;
}#question a{
    color: rgb(26, 236, 15);
}
@media(max-width:1000px){
    .img-holder{
        display: none;
    }
    .form{
        width: 100%;
        transition: ease .5s;
    }
}

@media(max-width:600px){
    .img-holder{
        display: none;
    }
    .form{
        width: 100%;
        height: 60vh;
        transition: ease .5s;
    }
    .form-holder{
        height: 60vh;
        transition: ease .5s;
    }
    .img-holder{
        height: 70vh;
        transition: ease .5s;
    }
}
.pic{
    width: 100%;
    height: 40vh;
}.pic2{
    width: 20%;
    height: 40vh;
}.pic2 h5{
    margin: 5%;
    font-size: 1rem;
}#m {
    height: 403px;
    width: 102%;
    }
@media(max-width: 1000px){
	.card-holder{
		flex-direction: row;
	}
	.card{
        transition: ease .5s;
		width: 40%;
	}
    .card-places{
        font-size: .7rem;
    }   
}
@media(max-width: 900px){
	.card-holder{
		flex-direction: row;
	}
	.card{
        transition: ease .5s;
		width: 50%;
	}
    
}
@media(max-width: 600px){
	.card-holder{
		display:flex;
	}
	.card{
        transition: ease .5s;
		width: 100%;
	}
    .card-places-holder{
        width: 100%;
    }
    .card-places{
        width: 40%;
        font-size: .7rem;
    }
}
.daet:hover{
    background-image: url('images/1.webp');
}
.card-img{
	margin: 0 auto;
	width: 90%;
	height: 40vh;
	background-color: rgb(0, 0, 0);
}.name,.location,.desciption{
	margin: 4%;
	width: 90%;
}
.SIinput{
	margin: 3%;
}.featured h2, p{
	margin: 4%;
}
.go-camnorte h3, section{
    height: 50vh;
	margin: 4%;
}.top-10{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}.top-10 div{
    margin: 0 auto;
    margin: 3%;
    background-color:#ddd;
}.top-10 img{
    margin-top: 4%;
    width: 40%;
    height: 60vh;
}
@media(max-width: 900px){
    .top-10 img{
        width: 40%;
    }
}
@media(max-width: 700px){
    .top-10 img{
        width: 60%;
    }
}
@media(max-width: 500px){
    .top-10 img{
        width: 70%;
    }
}.history{
    text-align: center;
}.history img{
    text-align: center;
    width: 50%;
    height: auto;
}.history h4{
    margin: 0 2% 2% 0;
    font-size: 2.4rem;
    color: var(--nav-color);

}
footer{
    display: grid;
    grid-auto-flow: column;
    position: absolute  ;
    bottom: 100;
    width: 100%;
    height: 40vh;
    background-color: var(--nav-color);
}footer h3{
    margin: 3%;
}.footer-content1 i, .footer-content2 i, .footer-content3 i{
    padding: 1%;
    color: white;
}
.footer-content1{
    width: 99%;
    color: rgb(175, 175, 175);
}.footer-content2{
    width: 99%;
    color: rgb(175, 175, 175);
}.footer-content3{
    width: 99%;
    color: rgb(175, 175, 175);
}.footer-content3 a{
    color: rgb(175, 175, 175);
}#loginbtn, #signupbtn{
    font-size: 1.2rem;
    color: whitesmoke;
    border: none;
    background-color: #00aa06;
}#loginbtn:hover{
    background-color: #29fd53;
}#signupbtn:hover{
    background-color: #29fd53;
}.form-holder{
    display: grid;
    place-items: center;
}.form-holder input{
    width: 100%;
    margin: 2%;
    height: 7vh;
}.form-holder a{
    text-align: center;
    float: right;
    background-color: ghostwhite;
    width: 30vh;
    height: 4vh;
}

html{
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: "Open sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

.grid{
 padding: 10rem 5rem;
    display: grid;
    width: 100%;
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); 
    
}

.grid-item{
    background-color: #ffffff;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6 rem rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow:  0 4rem 8rem rgba(0,0,0,0.2);

}
.card{
    width: 100%;
}

.card-img{
    display: block;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.card-content{
    padding: 0.5rem;
}

.card-header{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    max-height: 40px;
    color: #0d0d0d;
    padding: 5px 10px;
}

.card-btn{
    display: block;
    width: 100%;
    padding:15px 5px;
   font-size: 10px;
   text-align: center;
   color: #3363ff;
   background-color: #d8e0fd;
   border: none;
   border-radius: 0.4rem;
   transition: 0.2s;
   cursor: pointer;
   letter-spacing: 0.09rem;
}

.card-btn span{
    margin-left: 0.5rem;
    transition: 0.2s;
}

.card-btn:hover, .card-bt:active{
    background-color: #c2cffc;
}

.card-btn:hover span, .card-btn:active span{
    margin-left :1.5rem;

}
@media only screen and (max-width: 600px) {
    body {
        padding: 0;
    }
    .grid{
        
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fill, minmax(1, 1fr)); 
    }
  }
  @media only screen and (max-width: 900px) {
    body {
        padding: 0;
    }
    .grid{
        
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fill, minmax(1, 1fr)); 
    }
  }
